/*общие*/

body {
    margin: 0;
    padding: 0;
    width: 1200px;
    
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} 

.container {
    width: 940px;
    margin: 0 auto;
}

/*хэдер*/

.header a {
    color: #ffffff;
}

.header {
    padding-bottom: 60px;
    
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #f4f7f9;

}

.header-top {
    display: flex;
    
    justify-content: center;
    position: relative;
    width: 1200px;
    height: 42px;
    background-color: #293449; 
}




.logo {
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
    height: 47px;
}


.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}


.search-form {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}

.search-icon:hover {
    opacity: 1;
}


.search-form input {
    width: 270px;
    height: 42px;
    padding: 0;
    padding-left: 49px;
   
    border: none;
    
    background-color: #293449;
    
}

.search-form input:hover + .search-icon {
    opacity: 1;
    
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:focus + .search-icon path {
    fill: #ee3643;
}

.search-form input:focus{
    background-color: #ffffff;
}

.search-form input::-webkit-input-placeholder {
    color: #ffffff;
    
  }

.search-form input::-moz-placeholder,
.search-form input:-moz-placeholder {
    color: #ffffff;
}

.search-form input:-ms-input-placeholder {
    color: #ffffff;
}

.search-form input::-ms-input-placeholder {
    color: #ffffff;
}

.header-top a {
    display: block;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-top a:first-child {
    display: block;
    position: relative;
    padding-top: 13px;
    padding-right: 56px;
    padding-bottom: 15px;
    padding-left: 55px;
}


.bookmarks {
    
    
    padding-right: 28px;
    
    padding-left: 44px;
}



.bookmarks::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 12px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}



.basket {
    
    padding-left: 50px;
    padding-right: 31px;
}

.basket::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 12px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
    
    opacity: 1;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
    
}

.bookmarks:active::before,
.basket:active::before {   
    opacity: 0.5;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.basket-drop {
    width: 150px;
    background-color: #ee3643;
}

.link-order {
    padding-left: 20px;
    padding-right: 22px;
    
    background-color: #63a63e;   
}

.link-order:hover {
    background-color: #5fbb2d;
}

.link-order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.header-middle {
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;
}



.title {
    width: 197px;
    margin: 0;
    margin-top: 3px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643; 
}

.contacts {
    width: 270px;
    margin-left: 70px;
    
    margin-bottom: 8px;
}

.contacts-phone {
    
    margin: 0;
    
    
    padding-top: 10px;
    padding-right: 49px;
    padding-left: 71px;
    padding-bottom: 8px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: solid 3px #ffffff;
}

.contacts-adress {
    width: 250px;
    min-height: 13px;
    margin: 0;
    margin-top: 10px;
    
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user {
    position: relative;
    margin-left: 69px;
    
    
    color: #000000; 
}

.user-active {
    margin-left: 51px;
}

.icon-login {
    position: absolute;
    left: 14px;
    top: 14px;
}


.btn-enter:hover + .icon-login path {
    fill: #32425C;
}

.btn-enter:focus + .icon-login path {
    fill: #c5c5c5;
}

.btn-enter,
.btn-reg {
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.btn-reg {
    width: 150px;
    margin-left: 8px;
    padding-top: 13px;
    padding-bottom: 11px;

    border: none;
}

.btn-enter {
    position: relative;
    width: 121px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 48px ;
    padding-right: 27px;

    border: none;
}
.btn-enter:hover,
.btn-reg:hover {
    color: #ee3643;
}

.btn-enter:active,
.btn-reg:active {
    color: rgba(0, 0, 0, 0.3);
}


.main-navigation {
    margin-top: 44px;
        
    font-size: 17px;
    line-height: 17px;
    
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.list-navigation{
    display: flex;
   
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.list-navigation a {
    display: block;
    padding-top: 22px;
    padding-right: 31px;
    padding-bottom: 26px;
    padding-left: 31px;
}

.list-navigation a:first-child {
    padding-left: 52px;
}
.list-navigation a:hover {
    background-color: #32425c;
}

.list-navigation a:active {
    background-color: #1d2739;
}


.header-middle .user-orders-link,
.header-middle .user-profile-link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.header-middle .user-name-link {
    font-size: 21px;
    line-height: 21px;
    color: #000000; 
}

.user-name {
    width: 299px;
    min-height: 45px;
    margin-bottom: 10px;

    background-color: #ffffff;
}

.user-name-link:active {
    color: rgba(0, 0, 0, 0.3);
}


.user-orders-link:hover,
.user-profile-link:hover{
    color: #ee3643;
}

.user-orders-link:active,
.user-profile-link:active{
    color: rgba(50, 66, 92, 0.3);
}



/*основная часть*/

.technomart-about {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 86px;
}


.about-company{
    width: 519px;
    
}

.about-company,
.map {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.title-technomart,
.title-contacts {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px; 
}


.about-company p {
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}  

.delivery-items {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.link-company,
.btn-feedback {
    font-size: 14px;
    line-height: 18px;  
    color: #ffffff;

    background-color: #ee3643;
}

.map {
    width: 300px;
}

.map p {
    margin-top: 39px;
    margin-bottom: 36px;
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px; 
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs a {
    color: #000000;
}


.title-catalog {
    min-height: 89px;
    margin-top: 0;
    
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px; 
    color: #32425c;

    background-color: #f2f6f8;
}

.filter {
    width: 220px;
    margin-right: 21px;
}  

.catalog-columns {
    display: flex;
}

.title-manufacturers{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold; 
}

.title-supply {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.17px;
    font-weight: bold; 
}

.list-manufacturers,
.list-suply {
    list-style: none;

    font-size: 15px;
    line-height: 20px;
    
}

.btn-filter {
    line-height: 18px;
}

.catalog-list-wrapper {
    display: flex;
    flex-direction: column;
}

.sorting {
    width: 700px;
    min-height: 38px;
    margin-bottom: 21px;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    list-style: none;
    font-weight: bold; 
}

.catalog-item {
    width: 219px;
    margin-bottom: 21px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}    

.title-item {
    font-size: 18px;
    line-height: 20px;   
}

.old-price{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;  
}

.price{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;  
}

.cart-action {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px; 
}

.buy{
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    box-shadow: none;
}

.add-bookmarks {
    color: #32425c;  
}

.add-bookmarks:active {
    color:rgba(50, 66, 92, 0.3);
}


.list-pagination {
    display: flex;
    margin-bottom: 60px;
    margin-top: 31px;
    padding: 0;
    
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.list-pagination a {
    color: #000000; 
}

.list-pagination-item {
    width: 38px;
    min-height: 38px;
    margin-left: 10px;
}


.list-pagination-item-next{
    width: 140px;
    min-height: 38px;
    margin-left: 10px;
}

.item-activ {
    width: 38px;
    min-height: 38px;

    background-color: #ee3643;
}

.item-activ a {
    color: #ffffff;
}

/*футер*/

.footer-tehnomart {
    display: flex;
    flex-direction: column;
}

.footer-top {
  
    width: 1200px;
    padding-bottom: 53px;
   
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
   
    background-color: #32425c;
}

.footer-top-wrapper-logo {
    display: flex;
    min-height: 68px;
    
}

.logo-footer {
    width: 220px;
    margin-right: 173px;
}

.footer-menu,
.footer-list,
.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.footer-menu li,
.footer-list li {
    margin-left: 60px;   
}

.footer-menu li:first-child,
.footer-list li:first-child {
    margin-left: 0;
}

.footer-menu a {
    color: #f1f5f7;
}

.footer-top-wrapper-adress {
    display: flex;
    margin-top: 32px;
}

.footer-adress {
    width: 322px;
    margin: 0;
    margin-right: 91px;
    padding: 0;
    
    color: #f3f7f9;
}


.footer-list a {
    color: #ffd180;
}

.footer-bottom {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
   
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    margin-top: 39px;
    margin-bottom: 35px;
    
}

.copyright {
    width: 228px;
    margin: 0px;
    padding: 0;
}

.social-list {
    width: 150px;
    margin-left: 161px;
    margin-right: 119px;
}

.social-item {
    width: 42px;
    height: 42px;
    margin-left: 3px;
    
    border-radius: 50%;

    background-color: #212a3a;
}

.social-item:first-child {
    margin-left: 0;
}

.footer-feedback {
    width: 135px;
    margin-right: 53px;
}

.footer-developed {
    width: 96px;
}

.footer-feedback a,
.footer-developed a {
    color: #ffd180;
}


/*Сетки*/

