/*общие*/

body {
    margin: 0;
    padding: 0;

    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}    

/*хэдер*/

.header a {
    color: #ffffff;
}

.header {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #f4f7f9;

}

.header-top {
    background-color: #293449; 
}


.logo {
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.search-form input {
background-color: #293449;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:focus {
    background-color: #ffffff
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.link-order {
    background-color: #63a63e;   
}

.link-order:hover {
    background-color: #5fbb2d;
}

.link-order:active {
    background-color: #518534;
}

.title {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643; 
}

.contacts-phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.contacts-adress {
    font-size: 14px;
    line-height: 14px;
    color: #32425c;
}

.user {
    font-size: 21px;
    line-height: 21px;
    color: #000000; 
}

.btn-enter,
.btn-reg {
    background-color: #ffffff;
}

.btn-enter:hover,
.btn-reg:hover {
    color: #ee3643;
}

.btn-enter:active,
.btn-reg:active {
    color: rgba(0, 0, 0, 0.3);
}


.main-navigation {
    font-size: 17px;
    line-height: 17px;
    
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.list-navigation{
    list-style: none;
}

.list-navigation a:hover {
    background-color: #32425c;
}

.list-navigation a:active {
    background-color: #1d2739;
}


.header-middle .user-orders,
.header-middle .user-profile {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.header-middle .user-name {
    font-size: 21px;
    line-height: 21px;
    color: #000000; 
}

.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-name {
    background-color: #ffffff;
}

.user-orders:hover,
.user-profile:hover{
    color: #ee3643;
}

.user-orders:active,
.user-profile:active{
    color: rgba(50, 66, 92, 0.3);
}



/*основная часть*/

.about-company,
.map {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
} 

.title-technomart,
.title-contacts {
    font-size: 30px;
    line-height: 30px; 
}

.about-company p {
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}  

.delivery-items {
    list-style: none;
}

.link-company,
.btn-feedback {
    font-size: 14px;
    line-height: 18px;  
    color: #ffffff;

    background-color: #ee3643;
}

.map p {
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px; 
}

.breadcrumbs {
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs a {
    color: #000000;
}


.title-catalog {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px; 
    color: #32425c;

    background-color: #f2f6f8;
}

.title-manufacturers{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold; 
}

.title-supply {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.17px;
    font-weight: bold; 
}

.list-manufacturers,
.list-suply {
    list-style: none;

    font-size: 15px;
    line-height: 20px;
    
}

.btn-filter {
    line-height: 18px;
}

.catalog-list{
    list-style: none;

    font-weight: bold; 
}

.title-item {
    font-size: 18px;
    line-height: 20px;   
}

.old-price{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;  
}

.price{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;  
}

.cart-action {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px; 
}

.buy{
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    box-shadow: none;
}

.add-bookmarks {
    color: #32425c;  
}

.add-bookmarks:active {
    color:rgba(50, 66, 92, 0.3);
}


.list-pagination {
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}

.list-pagination a {
    color: #000000; 
}

.item-activ a {
    color: #ffffff;

    background-color: #ee3643;
}

/*футер*/

.footer {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

    background-color: #32425c;
}